button.close {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

button.close:focus {
  outline: none;
}

.form-control {
  width: 50%;
}

.content {
  justify-content: space-around;
  display: flex;
}

.balance-content {
  display: grid;
}

.balance-label {
  font-size: 1.4rem;
  font-weight: 600;
}

.balance-value {
  font-size: 1.5rem;
  font-weight: 100;
}

.up-content {
  margin-bottom: 3rem;
}

.buttons {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1rem;
}
