<div class="container">
  <div class="up d-flex">
    <h2 class="title">Produtos</h2>
    <a class="button-content" (click)="addProduct()">
      <i class="material-symbols-outlined icon">add_circle</i>Produto
    </a>
  </div>

  <div class="d-flex filters">
    <div>
      <label>Ordernar por:</label>
      <app-sort-buttons
        (sortOrderChanged)="onSortOrderChanged($event)"
      ></app-sort-buttons>
    </div>

    <div class="d-flex dashboard-item items-down">
      <label></label>
      <app-search (search)="onSearch($event)"></app-search>
    </div>
    <div class="group-input">
      <label> Categoria </label>
      <ng-select
        [items]="categoryList"
        bindLabel="name"
        bindValue="id"
        notFoundText="Nenhuma categoria encontrado"
        class="custom-ng-select"
        [(ngModel)]="categoryId"
        (change)="filterByCategoryId()"
      ></ng-select>
    </div>
  </div>

  <div class="d-flex filters">
    <span class="mt-5">Total de {{ totalCount }} registros</span>
    <div class="d-flex dashboard-item items-down">
      <a class="clean-filters" (click)="generatePdf()"> Gerar PDF </a>
    </div>
  </div>

  <table class="styled-table">
    <thead>
      <tr>
        <th class="code-column">Código</th>
        <th class="name-column">Nome</th>
        <th class="category-column">Categoria</th>
        <th class="value-column text-center">Valor</th>
        <th class="quantity-column text-center">Quantidade</th>
        <th class="actions-column text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let product of productList"
        [class.selected]="product.id === selectedProductId"
        (click)="onRowClick(product.id)"
      >
        <td class="code-column">{{ product.code ? product.code : "-" }}</td>
        <td class="name-column">{{ product.name }}</td>
        <td class="category-column">{{ product.category.name }}</td>
        <td class="value-column text-center">
          {{ util.toMoney(product.costPrice) }}
        </td>
        <td class="quantity-column text-center">{{ product.quantity }}</td>
        <td class="actions-column text-right">
          <a
            class="material-symbols-outlined mr-2"
            (click)="openEditProduct(product.id)"
            >edit_square</a
          >
          <a
            class="material-symbols-outlined"
            (click)="deleteProduct(product.id)"
            >delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="getTotalPages()"
    (pageChange)="pageCallback($event)"
  ></app-pagination>
</div>
<app-loading *ngIf="loading"></app-loading>
