.container {
  margin: 0 auto;
  padding: 20px;
  max-width: none;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table thead tr {
  background-color: #0e2238;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0e2238;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #0e2238;
}

tr {
  font-size: medium;
}

.up {
  justify-content: space-between;
}

.button-content {
  height: 3rem;
  background: #fff;
  border-radius: 1rem;
  border: #0b2741 1px solid;
  display: flex;
  align-items: center;
  font-weight: 500;
  width: 10rem;
  justify-content: center;
  cursor: pointer;
}

.button-content:hover {
  background-color: #0e223834;
}

.icon {
  font-size: large;
  margin-right: 0.3rem;
}

.material-symbols-outlined {
  cursor: pointer;
}

.align-balance {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  font: 500 2rem / 32px Roboto, Helvetica Neue, sans-serif;
}
