.container {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-sidebar {
  flex: 0 0 250px;
  background-color: #333;
  color: white;
  padding: 20px;
}

.content {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;

  overflow-y: auto;
  z-index: 999;
}

.content {
  flex: 1;
}
.content.content-with-sidebar {
  margin-left: 0;
}
