<div class="container">
  <div class="up d-flex">
    <h2 class="title">Parceiros</h2>
    <a class="button-content" (click)="addPartner()">
      <i class="material-symbols-outlined icon">add_circle</i>Parceiro
    </a>
  </div>

  <table class="styled-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th class="text-center">Saldo</th>

        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partner of partnerList">
        <td>{{ partner.name }}</td>
        <td>{{ partner.phone }}</td>
        <td>{{ partner.email }}</td>
        <td class="align-balance" *ngIf="util.token() !== 'BasicSchedule'">
          <a
            class="material-symbols-outlined mr-1"
            (click)="openBalance(partner.id, partner.balance)"
            matTooltip="Ajuste de saldo"
            >paid</a
          >
          {{ toMoney(partner.balance) }}
        </td>
        <td style="text-align: right">
          <a
            class="material-symbols-outlined mr-2"
            (click)="openEditPartner(partner.id)"
          >
            edit_square</a
          >
          <a
            class="material-symbols-outlined"
            (click)="deletePartner(partner.id)"
          >
            delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-loading *ngIf="loading"></app-loading>
