<div class="wrapper">
  <aside id="sidebar">
    <div class="d-flex">
      <button class="toggle-btn" type="button" (click)="toggle()">
        <i class="material-symbols-outlined"> dashboard</i>
      </button>
      <div class="sidebar-logo">
        <a>Will Manage</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <div *ngFor="let route of routes">
        <li class="sidebar-item" (click)="goTo(route.description)">
          <a class="sidebar-link">
            <i class="material-symbols-outlined"> {{ route.icon }} </i>
            <span>{{ route.name }}</span>
          </a>
        </li>
      </div>
    </ul>
    <div class="sidebar-footer" (click)="logout()">
      <a class="sidebar-link">
        <i class="material-symbols-outlined"> logout</i>
        <span>Sair</span>
      </a>
    </div>
  </aside>
</div>
