<div>
  <div class="up-content">
    <button type="button" class="close" aria-label="Fechar" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1 mat-dialog-title>Atualizar status</h1>
  </div>

  <div class="content">
    <div class="balance-content">
      <label class="balance-label">{{ data.name }}</label>
      <span class="date-value">{{
        util.formatDateTimeToLocal(data.scheduleDate)
      }}</span>
    </div>
    <div class="status-content">
      <label> Status </label>
      <ng-select
        [items]="status"
        bindLabel="description"
        bindValue="value"
        [clearable]="false"
        [searchable]="false"
        [(ngModel)]="selectedStatus"
        (change)="onChangeStatus()"
      >
      </ng-select>
    </div>
  </div>
  <div class="buttons">
    <div class="add-button mr-4" (click)="onClose()">Cancelar</div>

    <div class="add-button" [class.disabled]="saveButton" (click)="submit()">
      Salvar
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
