<header class="header d-flex">
  <div class="week-controls">
    <a
      class="material-symbols-outlined arrow arrow-rotate mr-2"
      (click)="goToPreviousWeek()"
    >
      arrow_forward_ios
    </a>
    <span class="week-label">{{ getWeekLabel() }}</span>
    <a class="material-symbols-outlined arrow ml-2" (click)="goToNextWeek()">
      arrow_forward_ios
    </a>
  </div>
  <div class="d-flex">
    <div class="add-button ml-3" (click)="newSchedule()">Novo agendamento</div>
  </div>
</header>

<div class="schedule-table">
  <div
    class="day-column"
    *ngFor="let day of weekDays"
    [ngClass]="{ 'current-day': isToday(day.date) }"
  >
    <div class="day-header">{{ day.name }}</div>
    <div class="day-header">{{ util.formatDateLiteraly(day.date) }}</div>
    <div
      (click)="addScheduleOnDay(day, appointments[day.name][i]?.scheduleId)"
      class="appointment"
      *ngFor="let placeholder of placeholders; let i = index"
    >
      <div
        *ngIf="appointments[day.name][i]; else emptySlot"
        class="appointment-content"
      >
        <div
          [matTooltip]="EScheduleStatusLabel[appointments[day.name][i].status]"
          class="color-bar"
          [ngStyle]="{
            'background-color': getColorByStatus(
              appointments[day.name][i]?.status
            )
          }"
        ></div>
        <div class="details">
          <div class="time">{{ appointments[day.name][i].time }}</div>
          <div class="name">{{ appointments[day.name][i].name }}</div>
        </div>
        <div
          *ngIf="appointments[day.name][i].dentist"
          [matTooltip]="appointments[day.name][i].dentist"
          matTooltipPosition="above"
          (matTooltipMouseenter)="onTooltipMouseEnter($event)"
          class="info material-symbols-outlined"
        >
          person
        </div>
      </div>
      <ng-template #emptySlot>
        <div class="empty-slot">
          <span class="material-symbols-outlined add-icon">add</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
