.header {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.schedule-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 1rem;
  background-color: #f0f0f0;
}

.day-column {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.day-header {
  font-weight: lighter;
  margin-bottom: 10px;
  text-align: center;
}

.appointment {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 0 10px 0 0;
  border-radius: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  cursor: pointer;
}

.appointment:hover {
  background-color: #e9e9e9;
}

.appointment-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.color-bar {
  height: 100%;
  width: 10%;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.mat-tooltip {
  white-space: pre-line;
}

.details {
  padding: 10px;
  flex-grow: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.time,
.name {
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: flex;
}

.time {
  font-size: 1.1rem;
  font-weight: 500;
}

.name {
  font-size: 0.9rem;
  font-weight: 300;
}

.empty-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
}

.add-icon {
  font-size: 24px;
  cursor: pointer;
}

.current-day {
  background: #002f852e;
  border-radius: 1.5rem;
}

.week-controls {
  display: flex;
  align-items: center;
}

.week-label {
  font-size: 1rem;
  font-weight: 100;
}

.arrow-rotate {
  rotate: 180deg;
}

.arrow {
  font-size: large;
  background: #0e2238;
  color: #fff !important;
  padding: 3px;
  border-radius: 7px;
  cursor: pointer;
}

.info {
  align-self: end;
  margin-bottom: 0.6rem;
  color: #8b8b8b;
}

@media (max-width: 1200px) {
  .schedule-table {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .schedule-table {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .schedule-table {
    grid-template-columns: 1fr;
  }

  .appointment {
    min-height: 40px;
  }
}
