<header class="header">
  <div class="logo">Dental Office</div>

  <!-- Controle de Navegação de Semanas -->
  <div class="week-controls">
    <button class="btn btn-nav" (click)="goToPreviousWeek()">&#9664;</button>
    <span class="week-label">{{ getWeekLabel() }}</span>
    <button class="btn btn-nav" (click)="goToNextWeek()">&#9654;</button>
  </div>

  <!-- <div class="actions">
    <button class="btn btn-green">Novo</button>
    <input type="text" placeholder="Pesquisar..." />
    <button class="btn btn-blue">Link de agendamento on-line</button>
    <button class="btn btn-yellow">Alerta de Retorno</button>
    <button class="btn btn-light">Tutoriais</button>
  </div> -->
</header>

<div class="schedule-table">
  <div
    class="day-column"
    *ngFor="let day of weekDays"
    [ngClass]="{ 'current-day': isToday(day) }"
  >
    <div class="day-header">{{ day }}</div>

    <!-- Loop para garantir que sempre existam 5 slots -->
    <div
      class="appointment"
      *ngFor="let placeholder of placeholders; let i = index"
    >
      <div
        *ngIf="appointments[day][i]; else emptySlot"
        class="appointment-content"
      >
        <div class="color-bar"></div>
        <div class="details">
          <div class="time">{{ appointments[day][i].time }}</div>
          <div class="name">{{ appointments[day][i].name }}</div>
        </div>
      </div>
      <ng-template #emptySlot>
        <div class="empty-slot">
          <span class="material-symbols-outlined add-icon">add</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<app-loading *ngIf-="loading"></app-loading>
