<div class="container">
  <div class="up d-flex">
    <h2 class="title">Clientes</h2>
    <a class="button-content" (click)="addCustomer()">
      <i class="material-symbols-outlined icon">add_circle</i>Cliente
    </a>
  </div>

  <table class="styled-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th *ngIf="util.token() !== 'BasicSchedule'" class="text-center">
          Saldo
        </th>

        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerList">
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td class="align-balance" *ngIf="util.token() !== 'BasicSchedule'">
          <a
            class="material-symbols-outlined mr-1"
            (click)="openBalance(customer.id, customer.balance)"
            matTooltip="Ajuste de saldo"
            >paid</a
          >
          {{ toMoney(customer.balance) }}
        </td>
        <td style="text-align: right">
          <a
            class="material-symbols-outlined mr-2"
            (click)="openEditCustomer(customer.id)"
          >
            edit_square</a
          >
          <a
            class="material-symbols-outlined"
            (click)="deleteCustomer(customer.id)"
          >
            delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-loading *ngIf="loading"></app-loading>
